{% extends 'container.html' %}
{% block title %}
主页-行程时间管理系统
{% endblock %}
{% block extcss %}

{% endblock %}
{% block mainbox %}
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                订单导入
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <div class="order-in">
                    <div class="banner-in">
                    <label for="order_file" class="form-label">订单导入</label>
                    <label class="download-example">请参考样例格式上传文件</label>
                    <a href="../static/example/example_order.CSV" id="download-exam1" class="btn btn-primary"
                        download>参考样例</a>
                    </div>

                    <input class="form-control file-in" type="file" id="order_file" accept=".csv" name="order_file">
                    <button class="btn btn-primary order-in-btn" type="submit" data-action="in-one">导入</button>
                </div>
                
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block extjs %}
<script>
    //检查文件是否为csv文件
    $(document).ready(function () {
        $('.file-in').change(function (event) {
            const file = event.target.files[0];
            const allowedTypes = ['text/csv', 'application/vnd.ms-excel'];

            if (file && !allowedTypes.includes(file.type)) {
                alert('请选择csv文件！');
                // 清空文件输入字段的值
                $(this).val('');
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('.order-in-btn').click(function () {
            // 获取上传的文件
            const fileInput = $('#order_file')[0];
            const file = fileInput.files[0];
            // 创建 FormData 对象，用于将文件数据发送到服务器
            const formData = new FormData();
            formData.append('order_file', file);
            
            // 发送 AJAX 请求将文件数据发送到服务器
            $.ajax({
                url: '/index', // 服务器端处理上传的 URL
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert('csv文件导入成功!');
                    // 可以根据服务器返回的响应执行其他操作
                },
                error: function (xhr, status, error) {
                    alert('csv文件导入失败: ' + error);
                    // 可以根据错误信息执行其他操作
                }
            });

        });
    });
</script>
{% endblock %}