<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录-行程时间管理系统</title>
    <link rel="stylesheet" href="/static/css/common/reset.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
<div id="wrap">
    <div id="title">欢迎登录行程时间管理系统</div>
    <form method="post">
        <p>
            <label for="username">账号</label>
            <input type="text" id="username" placeholder="请输入用户名" name="username">
            <span class="tips">请输入正确的用户名</span>
        </p>
        <p>
            <label for="password">密码</label>
            <input type="password" id="password" placeholder="请输入密码" name="password">
            <span class="tips">请输入正确的密码</span>
        </p>
        <div class="center">
            <button type="submit">登 录</button>
        </div>
    </form>
</div>


<script src="/static/js/jquery-3.7.1.js"></script>
<script src="/static/plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
</body>
</html>