<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页-行程时间管理系统</title>

    <link rel="stylesheet" href="/static/plugins/bootstrap-5.3.0-alpha1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/common/reset.css">
    <link rel="stylesheet" href="/static/css/menu2.css">
</head>
<body>
    <div class="container">
        <!-- 导航栏 -->
        <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <div style="font-size: 25px;">行程时间管理系统</div>
                </a>
            </div>
            <!-- 如果想标识所在标签，class加link-secondary -->
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/templates/menu.html" class="nav-link px-2 ">首页</a></li>
                <li><a href="/templates/manage.html" class="nav-link px-2 ">系统管理</a></li>
                <li><a href="/" class="nav-link px-2">数据处理</a></li>
                <li><a href="/" class="nav-link px-2">数据清洗</a></li>
                <li><a href="/" class="nav-link px-2">数据统计</a></li>
                <li><a href="/" class="nav-link px-2">行程时间预测</a></li>

            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-primary me-2">登录</button>
                <button type="button" class="btn btn-primary">注册</button>
            </div>
        </header>
        <div class="mainbox">
            
        </div>
    </div>
</body>
</html>