<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>数据处理-行程时间管理系统</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-5.3.0-alpha1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/common/reset.css">
    <link rel="stylesheet" href="/static/css/processing.css">
</head>

<body>
    <!-- 实现的功能-数据处理：订单导入、天气导入、路径导入、订单列表显示、轨迹查询 -->
    <!--三种导入功能的实现：
    element-ui
    整体Tabs标签页
    Upload上传
    拖拽上传 -->
    <div class="container">
        <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <div style="font-size: 25px;">行程时间管理系统</div>
                </a>
            </div>
            <!-- 如果想标识所在标签，class加link-secondary -->
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/menu" class="nav-link px-2 ">首页</a></li>
                <li><a href="/manage" class="nav-link px-2 ">系统管理</a></li>
                <li><a href="/processing" class="nav-link px-2">数据处理</a></li>
                <li><a href="/clear" class="nav-link px-2">数据清洗</a></li>
                <li><a href="/statistics" class="nav-link px-2">数据统计</a></li>
                <li><a href="/forecast" class="nav-link px-2">行程时间预测</a></li>

            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-primary me-2">登录</button>
                <button type="button" class="btn btn-primary">注册</button>
            </div>
        </header>
        <div class="mainbox">
            <div class="banner" style="display: flex;justify-content: space-between;">
                <div class="order-in">
                    <label for="formFile" class="form-label">订单导入</label>
                    <input class="form-control" type="file" id="formFile">
                </div>
                <div class="weather-in">
                    <label for="formFile" class="form-label">天气导入</label>
                    <input class="form-control" type="file" id="formFile">
                </div>
                <div class="dis-in">
                    <label for="formFile" class="form-label">路径导入</label>
                    <input class="form-control" type="file" id="formFile">
                </div>
            </div>
            <div class="order-list">
                <h3>订单列表显示</h3>
                <table class="table table-striped table-hover table-responsive text-center">
                    <thead>
                        <tr>
                            <th scope="col">订单编号</th>
                            <th scope="col">真实行程总时间</th>
                            <th scope="col">路线距离</th>
                            <th scope="col">出发时刻平均通行时间和</th>
                            <th scope="col">司机编号</th>
                            <th scope="col">出发时刻时间片编号</th>
                            <th scope="col">日期</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                        <tr data-id="{{ row.username }}">
                            <td style="vertical-align: middle;font-size:large">{{ row.orderid }}</td>
                            <td style="vertical-align: middle;font-size:large">{{ row.ata }}</td>
                            <td style="vertical-align: middle;font-size:large">{{ row.distance }}</td>
                            <td style="vertical-align: middle;font-size:large">{{ row.simpleeta }}</td>
                            <td style="vertical-align: middle;font-size:large">{{ row.driveid }}</td>
                            <td style="vertical-align: middle;font-size:large">{{ row.sliceid }}</td>
                            <td style="vertical-align: middle;font-size:large">{{ row.date }}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="track-query">

            </div>
        </div>
    </div>

    <script src="/static/js/jquery-3.7.1.js"></script>
    <script src="/static/plugins/bootstrap-5.3.0-alpha1-dist/js/bootstrap.js"></script>
</body>

</html>