{% extends 'container.html' %}
{% block title %}
数据处理-行程时间管理系统
{% endblock %}
{% block extcss %}

{% endblock %}
{% block mainbox %}
<h2 class=" text-center">数据处理</h2>
<!-- 面包屑 -->
<div class="accordion accordion-flush" id="accordionFlushExample">
    <!-- 订单导入组件 -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                订单导入
            </button>
        </h2>
        <!-- 订单导入主体部分 -->
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <!-- 头部 -->
                <div class="order-in">
                    <div class="banner-in">
                        <label for="order_file" class="form-label">订单导入</label>
                        <label class="download-example">请参考样例格式上传文件</label>
                        <a href="../static/example/example_order.CSV" id="download-exam1" class="btn btn-primary"
                            download>参考样例</a>
                    </div>

                    <input class="form-control file-in" type="file" id="order_file" accept=".csv" name="order_file">
                    <button class="btn btn-primary order-in-btn" type="submit" data-action="in-one">导入</button>
                </div>
                <div class="row mb-4" id="form-query">
                    <form id="query-users">

                        <div class="row">
                            <div class="col mb-2">
                                <h3>按日期查询:</h3>
                            </div>
                            <div class="col mb-2">

                                <div>
                                    <input type="number" class="form-control" name="year" id="year" required>
                                </div>
                                <label for="year" class="col-form-label ">年</label>
                            </div>

                            <div class="col mb-2">

                                <div>
                                    <input type="number" class="form-control" id="month" name="month" required>
                                </div>
                                <label for="month" class="col-form-label ">月</label>
                            </div>
                            <div class="col mb-2">

                                <div>
                                    <input type="number" class="form-control" id="day" name="day" required>
                                </div>
                                <label for="day" class="col-form-label ">日</label>
                            </div>
                            <div class="col mb-2">
                                <div class="row mt-4">
                                    <div class="col mb-2">
                                        <button type="submit" class="btn btn-primary query-order-btn"
                                            data-action="query-order"> 查询订单
                                        </button>
                                    </div>
                                    <div class=" col mb-2">
                                        <button type="reset" class="btn btn-warning"> 重置 </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
                <!-- 表格 -->
                <div class="order-list">
                    <!-- 表格控件（无边框，可悬停，有切换页码） -->
                    <div class="row">
                        <table class="table table-striped table-hover table-responsive text-center">
                            <thead>
                                <tr>

                                    <th scope="col">订单编号</th>
                                    <th scope="col">真实行程总时间</th>
                                    <th scope="col">路线距离</th>
                                    <th scope="col">出发时刻平均通行时间</th>
                                    <th scope="col">司机编号</th>
                                    <th scope="col">出发时刻时间片编号</th>
                                    <th scope="col">日期</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for row in data1 %}
                                <tr data-id="{{ row.orderid }}">
                                    <td style="vertical-align: middle;font-size:large">{{ row.orderid }}</td>
                                    <td style="vertical-align: middle;font-size:large">{{ row.ata }}</td>
                                    <td style="vertical-align: middle;font-size:large">{{ row.distance }}</td>
                                    <td style="vertical-align: middle;font-size:large">{{ row.simpleeta }}</td>
                                    <td style="vertical-align: middle;font-size:large">{{ row.driverid }}</td>
                                    <td style="vertical-align: middle;font-size:large">{{ row.sliceid }}</td>
                                    <td style="vertical-align: middle;font-size:large">{{ row.date }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 天气导入组件 -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                天气导入
            </button>
        </h2>
        <!-- 主体 -->
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <!-- 头部 -->
                <div class="weather-in">
                    <div class="banner-in ">
                        <label for="weatherFile" class="form-label">天气导入</label>
                        <label class="download-example">请参考样例格式上传文件</label>
                        <a href="../static/example/example_weather.CSV" id="download-exam2" class="btn btn-primary"
                            download>参考样例</a>
                    </div>

                    <input class="form-control file-in" type="file" id="weather_file" accept=".csv" name="weather_file">
                    <button class="btn btn-primary weather-in-btn" type="submit" data-action="in-two">导入</button>
                </div>
                <!-- 表格 -->
                <div class="order-list">
                    <!-- 表格控件（无边框，可悬停，有切换页码） -->
                    <div class="row">
                        <table class="table table-striped table-hover table-responsive text-center">
                            <thead>
                                <tr>
                                    <th scope="col">日期</th>
                                    <th scope="col">天气情况</th>
                                    <th scope="col">最高气温</th>
                                    <th scope="col">最低气温</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in data2 %}
                                <tr data-id="{{ row.date }}">
                                    <td style="vertical-align: middle;font-size:large">{{ row.date }}</td>
                                    <td style="vertical-align: middle;font-size:large">{{ row.weather }}</td>
                                    <td style="vertical-align: middle;font-size:large">{{ row.hightemp }}</td>
                                    <td style="vertical-align: middle;font-size:large">{{ row.lowtemp }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 路径导入组件 -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                路径导入
            </button>
        </h2>
        <!-- 路径导入主体部分 -->
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <!-- 头部 -->
                <div class="section-in">
                    <div class="banner-in">
                        <label for="sectionFile" class="form-label">路径导入</label>
                        <label class="download-example">请参考样例格式上传文件</label>
                        <a href="../static/example/example_intersection.CSV" id="download-exam3" class="btn btn-primary"
                            download>参考样例</a>
                    </div>

                    <input class="form-control file-in" type="file" id="section_file" accept=".csv" name="section_file">
                    <button class="btn btn-primary section-in-btn" type="submit" data-action="in-three">导入</button>
                </div>
                <!-- 表格 -->
                <div class="order-list">
                    <!-- 表格控件（无边框，可悬停，有切换页码） -->
                    <div class="row">
                        <table class="table table-striped table-hover table-responsive text-center">
                            <thead>
                                <tr>
                                    <th scope="col">红绿灯路口编号</th>
                                    <th scope="col">路口通行时间</th>
                                    <th scope="col">驶入路口编号</th>
                                    <th scope="col">驶出路口编号</th>
                                    <th scope="col">订单编号</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in data3 %}
                                <tr data-id="{{ row.create_at }}">
                                    <td style="vertical-align: middle;font-size:large">{{ row.crossid }}</td>
                                    <td style="vertical-align: middle;font-size:large">{{ row.crosstime }}</td>
                                    <td style="vertical-align: middle;font-size:large">{{ row.entranceid }}</td>
                                    <td style="vertical-align: middle;font-size:large">{{ row.exitid }}</td>
                                    <td style="vertical-align: middle;font-size:large">{{ row.orderid }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extjs %}
<script>
    //检查文件是否为csv文件
    $(document).ready(function () {
        $('.file-in').change(function (event) {
            const file = event.target.files[0];
            const allowedTypes = ['text/csv', 'application/vnd.ms-excel'];

            if (file && !allowedTypes.includes(file.type)) {
                alert('请选择csv文件！');
                // 清空文件输入字段的值
                $(this).val('');
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('.order-in-btn').click(function () {
            var action = $(this).data('action');
            // 获取上传的文件
            const fileInput = $('#order_file')[0];
            const file = fileInput.files[0];
            // 创建 FormData 对象，用于将文件数据发送到服务器
            const formData = new FormData();
            formData.append('order_file', file);
            formData.append('action', action);
            // 发送 AJAX 请求将文件数据发送到服务器
            $.ajax({
                url: '/processing', // 服务器端处理上传的 URL
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert('订单导入成功!');
                    location.reload(); // 刷新页面
                    // 可以根据服务器返回的响应执行其他操作
                },
                error: function (xhr, status, error) {
                    alert('订单导入失败: ' + error);
                    // 可以根据错误信息执行其他操作
                }
            });

        });
    });
</script>

<script>
    $(document).ready(function () {
        $('.weather-in-btn').click(function () {
            var action = $(this).data('action');
            // 获取上传的文件
            const fileInput = $('#weather_file')[0];
            const file = fileInput.files[0];
            // 创建 FormData 对象，用于将文件数据发送到服务器
            const formData = new FormData();
            formData.append('weather_file', file);
            formData.append('action', action);
            // 发送 AJAX 请求将文件数据发送到服务器
            $.ajax({
                url: '/processing', // 服务器端处理上传的 URL
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert('天气导入成功!');
                    location.reload(); // 刷新页面
                    // 可以根据服务器返回的响应执行其他操作
                },
                error: function (xhr, status, error) {
                    alert('天气导入失败: ' + error);
                    // 可以根据错误信息执行其他操作
                }
            });
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('.section-in-btn').click(function () {
            var action = $(this).data('action');
            // 获取上传的文件
            const fileInput = $('#section_file')[0];
            const file = fileInput.files[0];
            // 创建 FormData 对象，用于将文件数据发送到服务器
            const formData = new FormData();
            formData.append('section_file', file);
            formData.append('action', action);
            // 发送 AJAX 请求将文件数据发送到服务器
            $.ajax({
                url: '/processing', // 服务器端处理上传的 URL
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert('路径导入成功!');
                    location.reload(); // 刷新页面
                    // 可以根据服务器返回的响应执行其他操作
                },
                error: function (xhr, status, error) {
                    alert('路径导入失败: ' + error);
                    // 可以根据错误信息执行其他操作
                }
            });
        });
    });
</script>

<script>
    $('.query-order-btn').click(function (event) {
        event.preventDefault(); // 阻止按钮默认点击事件
        var action = $(this).data('action');
        //获取表单
        var year = $('#year').val();
        var month = $('#month').val();
        var day = $('#day').val();
        
        // 发送 AJAX 请求
        $.ajax({
            url: '/processing', // 后端 Flask 应用的路由
            method: 'POST',
            data: {
                action: action,
                year:year,
                month: month,
                day: day
            },
            success: function (response) {
                // 处理成功响应，例如显示成功消息或刷新页面
                alert('订单查询成功！');
                location.reload(); // 刷新页面
            },
            error: function (xhr, status, error) {
                // 处理请求失败，例如显示错误消息
                alert('用户查询失败，请重试！');
            }
        });
    });
</script>
{% endblock %}