<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册-行程时间管理系统</title>
    <link rel="stylesheet" href="/static/css/common/reset.css">
    <link rel="stylesheet" href="/static/css/register.css">
</head>
<body>
<div id="wrap">
    <div id="title">欢迎注册行程时间管理系统</div>
    <form method="post">
        <p>
            <label for="username">账号</label>
            <input type="text" id="username" placeholder="请输入用户名" name="username">
        </p>
        <p>
            <label for="password">密码</label>
            <input type="password" id="password" placeholder="请输入密码" name="password">
        </p>
        <p>
            <label for="password2">再次确认</label>
            <input type="password" id="password2" placeholder="再次输入密码" name="password2">
        </p>
        <div class="center">
            <button type="submit">注 册</button>
        </div>
    </form>
</div>


<script src="/static/js/jquery-3.7.1.js"></script>
<script src="/static/plugins/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
</body>
</html>